﻿body {
  font-family: 'Segoe UI', Calibri, Arial;
  background-color: rgb(32, 0, 11);  
  color:white;
  margin:0;
}
h2{
    font-weight:normal;
    text-align:center;
	color:white;
}
h3{
    font-weight:normal;
    color:white;
    margin:10px 0px;
    text-align:center;
}